.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: green;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
.items:hover {
  color: brown;
  background-color: lightgray;
}
