.card {
  width: 300px;
  height: 460px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}
.card-img {
  width: 280px;
  height: 250px;
  border-radius: 75%;
  margin-left: 5px;
}
.icon {
  margin: 5px;
  padding: 5px;
  background-color: rgb(42, 42, 65);
  color: rgb(155, 155, 155);
  font-size: 30px;
}
.icon:hover {
  background-color: rgb(250, 25, 25);
}
