.card {
  width: 300px;
  height: 460px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}
.card-img {
  width: 280px;
  height: 250px;
  border-radius: 75%;
  margin-left: 5px;
}
